.gitignore
.venv/
venv/
env/
pitch.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

# build / runtime
__pycache__/
*.pyc
*.egg-info/
*.db
multimodal_search.db
data/*.pdf

#folders
architecture_files
context_file
context_files
key
Prompts